<section class="portfolio-grid">
    <div class="card"><img src="../img/thumb1.jpg" alt="Project One"><p>Project One</p></div>
    <div class="card"><img src="../img/thumb2.jpg" alt="Project Two"><p>Project Two</p></div>
    <div class="card"><img src="../img/thumb3.jpg" alt="Project Three"><p>Project Three</p></div>
    <div class="card"><img src="../img/thumb4.jpg" alt="Project Four"><p>Project Four</p></div>
    <div class="card"><img src="../img/thumb5.jpg" alt="Project Five"><p>Project Five</p></div>
    <div class="card"><img src="../img/thumb6.jpg" alt="Project Six"><p>Project Six</p></div>
  </section>
